// https://www.pinterest.com/pin/color-scheme-palette-image--188236459413569141/
:root  {
    --onsite: #91ac9a;
    --ltc: #8fb8ca;
}

body {
    font-family: Optima, Candara, Calibri, Arial, sans-serif;
    margin:0pt;
    padding:0pt;
    line-height:1.5;
}

code {
  font-family: "Lucida Console", Monaco, monospace;
  font-size: 85%;
}

.ltc-bg {
    background:var(--ltc);
}

.onsite-bg {
    background:var(--onsite);
}

section.main {
    padding:2em;
    max-width:50em;
    margin:auto;
}

section.footer {
    background-color: #444;
    color:white;
}

.foot-content {
    padding-top:2em;
    padding-bottom:2em;
    width:70em;
    margin:auto;
}

div.header {
    border-bottom:1px dotted #ccc;
    margin:0pt; padding:0pt;
}

.mainmenu, .submenu{
    margin:0pt; padding:0pt;    
    ul {
	text-align: center;
	margin:0;
	padidng:0;
    }

    li {
	list-style:none;
	display:inline-block;
    }

    li a {
	display:inline-block;
	padding:.5ex;
    }

    a,
    a:focus,
    a:visited {
	color: white;
	text-decoration: none;
	font-size: 120%;
    }

    a.ltc { color: var(--ltc); }
    a.onsite { color: var(--onsite); }
    
    a:hover { olor:yellow; }

}


.mainmenu{ background:#333;
	   a {
	       font-weight:bold;
	   }
}
.submenu {
    background: #777;
    li{ padding:.3ex; }
    a { display: inline-block; }    
    &.onsite {    background-color: var(--onsite); }
    &.ltc {    background-color: var(--ltc);}
}

.grid {
    article {
	border: 2px solid var(--onsite);
	margin:1em; padding:0 1ex 0 1ex;
	font-size:90%;
    }
}

@media(min-width:600px) {
    .grid {
	article {
	    width:33%;
	    display:inline-block;
	    vertical-align:top;
	}
    }

}
