// https://www.pinterest.com/pin/color-scheme-palette-image--188236459413569141/
:root  {
    --onsite: #91ac9a;
    --onsite-dark: #232f27;
    --onsite-light: #b7d9c2;
    
    --ltc: #8fb8ca;
    --ltc-dark: #172830;
    --ltc-light: #a6d5ea;
}

body {
    font-family: Optima, Candara, Calibri, Arial, sans-serif;
    margin:0pt;
    padding:0pt;
    line-height:1.5;

    &.onsite {
	--highlight: var(--onsite);
	--highdark: var(--onsite-dark);
    }
    
    &.ltc {
	--highlight: var(--ltc);	
	--highdark: var(--ltc-dark);
    }
}

code {
  font-family: "Lucida Console", Monaco, monospace;
  font-size: 85%;
}

// .ltc-bg {
//     background:var(--ltc);
// }

// .onsite-bg {
//     background:var(--onsite);
// }

section.main {
    padding:2em;
    max-width:50em;
    margin:auto;
    word-wrap: break-word;

    a {
	word-wrap: break-word;
	color:var(--highdark);
    }

    a:hover{
	color:#000;
	text-weight:bold;
	background: var(--highlight); 
    }
}

section.footer {
    background-color: #444;
    color:white;
}

.foot-content {
    padding-top:2em;
    padding-bottom:2em;
    width:70em;
    margin:auto;
    
    .foot-contacts {
	display:flex;
	a { color: white;}
    }

    div {
	margin-right:5em;
    }
}

div.header {
    border-bottom:1px dotted #ccc;
    margin:0pt; padding:0pt;
}

.mainmenu, .submenu{
    margin:0pt; padding:0pt;    
    ul {
	text-align: center;
	margin:0;
	padidng:0;
    }

    li {
	list-style:none;
	display:inline-block;
    }

    li a {
	display:inline-block;
	padding:.5ex;
    }

    a,
    a:focus,
    a:visited {
	color: var(--highdark);
	text-decoration: none;
	font-size: 120%;
    }
    a.ltc { color: var(--ltc); }
    a.onsite { color: var(--onsite); }
    
    a:hover {
	color:yellow;
	text-decoration: underline;
    }

}

div.img img {
    width: 100%;
}


.mainmenu{
    background:#333;
    
    a {
	font-weight:bold;
    }

    a:hover {
	color:#333;	
    }
    a.ltc:hover    { background: var(--ltc); }
    a.onsite:hover { background: var(--onsite); }

}

.submenu {
    background: #777;
    li{ padding:.3ex; }
    a { display: inline-block; }    
    background-color: var(--highlight); 
}

.grid {
    article {
	border: 2px solid var(--onsite);
	margin:1em; padding:0 1ex 0 1ex;
	font-size:90%;
    }
}

@media(min-width:600px) {
    .grid {
	article {
	    width:33%;
	    display:inline-block;
	    vertical-align:top;
	}
    }

}
