<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ block "title" . }}{{ .Site.Title }}{{ end }}</title>

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css"
	  integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU"
	  crossorigin="anonymous">
        
   {{ $opts := dict "transpiler" "libsass" "targetPath" "css/style.css" }}
   {{ with resources.Get "scss/style.scss" | toCSS $opts | minify | fingerprint }}
	<link rel="stylesheet" href="{{ .RelPermalink }}"
	      integrity="{{ .Data.Integrity }}" crossorigin="anonymous">
   {{ end }}
  </head>
  <body>
    {{ block "menu" . }}
    {{ partial "menu.html" (dict "menuID" "main" "page" .) }}
    {{ end }}
    <section class="main">
      {{ block "main" . }}{{ end }}
    </section>
    <section class="footer">
      <div class="foot-content">
      {{ block "footer" . }}  
      VerifyThis -- (c) 2024
      {{ end }}
      </div>
    </section>
  </body>
</html>
