:root  {
    /* CSS HSL */
    --coral: hsla(18, 83%, 63%, 1);
    --hookers-green: hsla(139, 17%, 37%, 1);
    --viridian: hsla(165, 27%, 41%, 1);
    --tiffany-blue: hsla(170, 65%, 79%, 1);
    --aquamarine: hsla(159, 61%, 68%, 1);

    --onsite: var(--hookers-green);
    --ltc: var(--viridian);
}

body {
    font-family: "Poppins", sans-serif;
}

div.header {}

section.main {
    padding-top:2em;
    width:70em;
    margin:auto;
}

section.footer {
    background-color: #444;
    color:white;    
}

.foot-content {
    padding-top:2em;padding-bottom:2em;
    width:70em;
    margin:auto;
}

.mainmenu{}
.mainmenu div {
    padding-top:1ex;
    padding-bottom:1ex;
    text-align:center;
}

.mainmenu div:first-child {
    background-color: var(--onsite);
}

.mainmenu div:nth-child(2) {
    background-color: var(--ltc);
}

.mainmenu a,
.mainmenu a:focus,
.mainmenu a:visited {
    color: white !important;
    text-decoration: none;
    font-size: 140%;
}

.submenu {
    text-align:center;
}

.submenu.onsite {
    background-color: var(--onsite);
}

.submenu.ltc {
    background-color: var(--ltc);
}
