{{- $page := .page }}
{{- $menuID := .menuID }}

{{- $path := .page.Path }}
{{- $submenu := "onsite" }}
{{- if (strings.Contains $path "/ltc")}}
  {{- $submenu = "ltc" }}
{{- else}}
  {{- $submenu = "onsite" }}
{{- end}}


{{- define "partials/inline/menu/walk.html" }}
  {{- $page := .page }} 
  {{- range .menuEntries }}
    {{- $attrs := dict "href" .URL }}
    {{- if $page.IsMenuCurrent .Menu . }}
      {{- $attrs = merge $attrs (dict "class" "active" "aria-current" "page") }}
    {{- else if $page.HasMenuCurrent .Menu .}}
      {{- $attrs = merge $attrs (dict "class" "ancestor" "aria-current" "true") }}
    {{- end }}
    {{- $name := .Name }}
    {{- with .Identifier }}
      {{- with T . }}
        {{- $name = . }}
      {{- end }}
    {{- end }}
    <li class="pure-menu-item {{- if $page.IsMenuCurrent .Menu .}} active {{- end}}
	   {{- with .Children }} pure-menu-has-children pure-menu-allow-hover {{- end}}">
      <a class="pure-menu-link  {{- with .Children }} pure-menu-has-children pure-menu-allow-hover {{- end}}"      
        {{- range $k, $v := $attrs }}
          {{- with $v }}
            {{- printf " %s=%q" $k $v | safeHTMLAttr }}
          {{- end }}
        {{- end -}}
      >{{ $name }}</a>
      {{- with .Children }}
        <ul class="pure-menu-children">
          {{- partial "inline/menu/walk.html" (dict "page" $page "menuEntries" .) }}
        </ul>
      {{- end }}
    </li>
  {{- end }}
{{- end }}



<div class="header">
 <!-- "Submenu: {{ $submenu }}" -->


 <div class="mainmenu pure-g">
   <div class="pure-u-1-2">
     <a href="{{ .Site.BaseURL }}/onsite">VerifyThis@ETAPS</a>
   </div>
   <div class="pure-u-1-2">
     <a href="{{ .Site.BaseURL }}/ltc">VerifyThis LTC</a>
   </div>
 </div>
 
  <!--
 {{- with index site.Menus $menuID }}
    <div class="pure-menu pure-menu-horizontal mainmenu">
            <ul class="pure-menu-list">
                {{- partial "inline/menu/walk.html" (dict "page" $page "menuEntries" .) }}
            </ul>
    </div>
    {{- end }}
    -->

    {{- with $submenu }}    
      {{- with index site.Menus . }}
        <div class="custom-menu-wrapper">
	  <div class="pure-menu custom-menu custom-menu-top">
	    <a href="#" class="pure-menu-heading custom-menu-brand">Brand</a>
	    <a href="#" class="custom-menu-toggle" id="toggle"><s class="bar"></s><s class="bar"></s></a>
	  </div>
	  <div class="pure-menu pure-menu-horizontal pure-menu-scrollable custom-menu custom-menu-bottom custom-menu-tucked" id="tuckedMenu">
	    <div class="custom-menu-screen"></div>
	    <ul class="pure-menu-list">
	      {{- partial "inline/menu/walk.html" (dict "page" $page "menuEntries" .) }}
	    </ul>
	  </div>
	</div>
      </div>
    {{- end }}
    {{- end }}
</div>

<script>
  (function (window, document) {
      document.getElementById('toggle').addEventListener('click', function (e) {
          document.getElementById('tuckedMenu').classList.toggle('custom-menu-tucked');
          document.getElementById('toggle').classList.toggle('x');
      });
  })(this, this.document);
</script>
