{{- $page := .page }}
{{- $menuID := .menuID }}

{{- $path := .page.Path }}
{{- $submenu := "onsite" }}
{{- if (strings.Contains $path "/ltc")}}
  {{- $submenu = "ltc" }}
{{- else}}
  {{- $submenu = "onsite" }}
{{- end}}


{{- define "partials/inline/menu/walk.html" }}
  {{- $page := .page }} 
  {{- range .menuEntries }}
    {{- $attrs := dict "href" .URL }}
    {{- if $page.IsMenuCurrent .Menu . }}
      {{- $attrs = merge $attrs (dict "class" "active" "aria-current" "page") }}
    {{- else if $page.HasMenuCurrent .Menu .}}
      {{- $attrs = merge $attrs (dict "class" "ancestor" "aria-current" "true") }}
    {{- end }}
    {{- $name := .Name }}
    {{- with .Identifier }}
      {{- with T . }}
        {{- $name = . }}
      {{- end }}
    {{- end }}
    <li class="{{- if $page.IsMenuCurrent .Menu .}} active {{- end}}">
      <a class=""      
        {{- range $k, $v := $attrs }}
          {{- with $v }}
            {{- printf " %s=%q" $k $v | safeHTMLAttr }}
          {{- end }}
        {{- end -}}
	 >{{ $name }}</a>
      {{- with .Children }}
      <!--
        <ul>
          {{- partial "inline/menu/walk.html" (dict "page" $page "menuEntries" .) }}
        </ul>-->
	{{- end }}
    </li>
  {{- end }}
{{- end }}



<div class="header">
 <!-- "Submenu: {{ $submenu }}" -->
 <div class="mainmenu">
   <ul>
     <li>
       <a class="onsite" href="{{ "onsite" | relURL }}">VerifyThis@ETAPS</a>
     </li>
     <li style="color:white">
       &ndash; or &ndash;
     </li>
     <li>
       <a class="ltc" href="{{ "ltc" | relURL }}">VerifyThis LTC</a>
       </li>
   </ul>
 </div>
 
  <!--
 {{- with index site.Menus $menuID }}
    <div class="pure-menu pure-menu-horizontal mainmenu">
            <ul class="pure-menu-list">
                {{- partial "inline/menu/walk.html" (dict "page" $page "menuEntries" .) }}
            </ul>
    </div>
    {{- end }}
    -->

    {{- with $submenu }}    
      {{- with index site.Menus . }}
        <div class="submenu {{$submenu}}">
	    <ul class="pure-menu-list">
	      {{- partial "inline/menu/walk.html" (dict "page" $page "menuEntries" .) }}
	    </ul>
      </div>
    {{- end }}
    {{- end }}
</div>

