<article class="post-preview">
  <a href="{{ .Permalink }}">
    <h3 class="post-title">{{ .Title }}</h3>
    {{ if .Params.subtitle }}
    <h4 class="post-subtitle">{{ .Params.subtitle }}</h4>
    {{ end }}
    {{ if .Params.image }}
    <img src="{{ .Params.image }}" alt="{{ .Title }}" class="img-title" />
    {{ end }}
    {{ if .Params.video }}
    <video loop autoplay muted playsinline class="img-title">
      <source src="{{ .Params.video }}">
    </video>
    {{ end }}
  </a>

  <p class="post-meta">
    <span class="post-meta">
      <i class="fas fa-calendar"></i>&nbsp;
      {{.Lastmod | time.Format ":date_medium" }}
      <!--
	  {{ if .Site.Params.readingTime }}
	  &nbsp;|&nbsp;<i class="fas fa-clock"></i>&nbsp;{{ i18n "readingTime"}}{{ .ReadingTime }}&nbsp;{{ i18n "readTime" }}
	  {{ end }}
	  {{ if .Site.Params.wordCount }}
	  &nbsp;|&nbsp;<i class="fas fa-book"></i>&nbsp;{{ .WordCount }}&nbsp;{{ i18n "words" }}
	  {{ end }}
	  {{ if not .Site.Params.hideAuthor }}
	  {{ if .Params.author }}
	  &nbsp;|&nbsp;<i class="fas fa-user"></i>&nbsp;{{ .Params.author | safeHTML }}
	  {{ else }}
	  &nbsp;|&nbsp;<i class="fas fa-user"></i>&nbsp;{{ .Site.Author.name | safeHTML }}
	  {{ end }}
	  {{ end }}-->
    </span>
  </p>
  <div class="post-entry">
    {{ .Summary }}
  </div>
</article>
