{{ define "title" }} VerifyThis  {{ end }}

{{ define "main" }}
<style>
  /* color ALL links, including news */
  .post-entry a {
      color: #008AFF;
  }

  #start-grid {
    display:flex;
    flex-direction: row;
    align-content: flex-start;
    justify-content: flex-start;
    align-items: flex-start;
  }


  #content {
      max-width:30em;
      padding-right:1em;
      border-right: 1px var(--ltc) solid;
  }

  #news {
      padding-left:1em;
      font-size:80%;
  }

  #news article {
      border-bottom: 1px var(--ltc) solid;
      
  }
</style>

<div id="start-grid">
  <div id="content">
    {{.Content}}
  </div>
  
  <div id="news">
    <h2> <i class="fas fa-newspaper"></i> Timeline</h2>
    {{ with .Site.GetPage "onsite/news"}}
      {{ range .Pages.ByDate.Reverse | first 10 }}
        {{ partial "post_preview.html" .}}
      {{ end }}
    {{ end }}
    <hr>
    <a href="news">All posts</a>
  </div>
</div>
{{end}}
